* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffffff;
    color: #000000;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}


.dark {
    color: #ffffff;

    .btn {
        background: #f4f4f4;
        color: #333333;
    }
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;

    .logo {
        width: 110px;
    }

    ul {
        display: flex;

        li {
            padding: 0 10px;

            a {
                padding-bottom: 2px;
            }

            a:hover {
                border-bottom: 2px solid #262626;
            }
        }

        .main-menu {
            flex: 1;
            margin-left: 20px;
        }
    }
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #262626;
    color: #ffffff;
    font-size: 15px;

    &:hover{
        opacity: 0.9;
    }
}

/* Showcase */
.showcase {
    width: 100%;
    height: 400px;
    background: url("../img/showcase.png") no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;

    h2 p {
        margin-bottom: 10px;
    }

    .btn {
        margin-top: 20px;
    }
}

/* Home Cards */
.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;

    img {
        width: 100%;
        margin-bottom: 20px;
    }

    h3 {
        bottom: 5px;
    }

    a {
        display: inline-block;
        padding-top: 10px;
        color: #0067b8;
        text-transform: uppercase;
        font-weight: bold;
    }

    &:hover i {
        margin-left: 10px;
    }
}

/* Xbox */
.xbox {
    height: 350px;
    background: url("../img/xbox.png") no-repeat center center/cover;
    margin-bottom: 20px;

    .content {
        width: 40%;
        padding: 50px 0 0 30px;
    }

    p {
        margin: 10px 0 20px;
    }
}

/* Carbon */
.carbon {
    height: 350px;
    width: 100%;
    background: url("../img/carbon.jpg") no-repeat center center/cover;

    .content {
        width: 55%;
        padding: 100px 0 0 30px;
    }

    p {
        margin: 10px 0 20px;
    }
}

/* Follow */
.follow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;

    * {
        margin-right: 10px;
    }
}

/* Links */
.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;

    &-inner {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        align-items: flex-start;
        justify-content: center;
    }

    li {
        line-height: 2.8;
    }
}

/* Footer */
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;

    &-inner{
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        i {
            margin-right: 10px;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin-right: 30px;
        margin-bottom: 20px;
    }
}
