.btn {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition-duration: 0.4s;
    text-align: center;
    border: 1px;
    cursor: pointer;

    &-left {
        background-color: #f10000;
    }

    &-left:hover {
        display: inline-block;
        background-color: darken($color: #f10000, $amount: 10);
    }

    &-middle {
        background-color: #f1f100;
    }

    &-middle:hover {
        display: inline-block;
        background-color: darken($color: #f1f100, $amount: 10);
    }

    &-right {
        background-color: #00f100;
    }

    &-right:hover {
        display: inline-block;
        background-color: darken($color: #00f100, $amount: 10);
    }
}

.box {
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: flex-start;
    border: 1em;
    border-radius: 5%;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    height: 30px;

}
