.btn {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition-duration: 0.4s;
  text-align: center;
  border: 1px;
  cursor: pointer;
}
.btn-left {
  background-color: #f10000;
}
.btn-left:hover {
  display: inline-block;
  background-color: #be0000;
}
.btn-middle {
  background-color: #f1f100;
}
.btn-middle:hover {
  display: inline-block;
  background-color: #bebe00;
}
.btn-right {
  background-color: #00f100;
}
.btn-right:hover {
  display: inline-block;
  background-color: #00be00;
}

.box {
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: flex-start;
  border: 1em;
  border-radius: 5%;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  height: 30px;
}

/*# sourceMappingURL=style.css.map */
